* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

header {
    z-index: 5;
}

.container {
    flex: 1 0 auto;
    margin-bottom: 50px;
}

.mainMenu {
    max-width: 1300px;
    position: relative;
    margin: auto;
    height: 50px;
}

.mainMenu ul {
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
    background: white;
    list-style-type: none;
    align-items: center;
    max-width: 1300px;
    margin: auto;
}

.mainMenu ul li a {
    margin: 0 50px;
    display: block;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    transition: all 0.5s linear;
}

.panelTop {
    width: 100%;
    background: rgb(43, 43, 43);
    padding-top: 10px;
}

.panelTop ul {
    display: flex;
    justify-content: flex-end;
    padding: 0 50px;
    list-style-type: none;
    max-width: 1300px;
    margin: auto;
    align-items: center;
}

.panelTop ul li a {
    margin: 0 50px;
    display: block;
    line-height: 50px;
    text-decoration: none;
    color: white;
}

ul li a:hover {
    color: #ff9b0e;
}

.logo {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    border-radius: 50%;
    background: #ffffff;
    position: absolute;
    top: -21px;
    left: 8%;
    cursor: pointer;
    transition: left 1s linear;
}

.logo img {
    width: 50px;
    margin: auto;
    display: block;
    height: 50px;
    background-size: cover;
    transform: rotate(225deg);
}

.bascet {
    background: url("img/bascet.png");
    background-size: cover;
    width: 30px;
    height: 30px;
    position: relative;
}

.countItem {
    position: absolute;
    background: #ff9b0e;
    color: white;
    border-radius: 50%;
    display: block;
    width: 20px;
    height: 20px;
    text-align: center;
    top: 0;
    line-height: 20px;
    right: -10px;
}

.burger {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 20px;
    top: 5px;
    background: url("img/burger.png");
    background-size: cover;
    cursor: pointer;
    display: none;
}

.banner {
    width: 100%;
    background: url("img/main-bg.jpg");
    min-height: 360px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    margin: 0;
    padding: 70px 0;
}

.banner-text {
    text-align: center;
    color: #ffffff;
    font-size: 100px;
    /*background: url("img/text-bg.jpg") no-repeat center center;*/
    background-size: cover;
    /*-webkit-text-fill-color: transparent; !* переопределяет цвет текста с белого на прозрачный в браузерах на webkit *!*/
    /*-webkit-background-clip: text;*/
}

.banerPage {
    width: 100%;
    background: url("img/gunwallpaper.jpg");
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;

}

.pages {
    position: relative;
    max-width: 1300px;
    margin: auto;
}

.pages h1 {
    color: white;
    position: absolute;
    text-transform: uppercase;
    top: -130px;
    left: 0;
    font-size: 50px;
    padding: 0 20px;
}

.newsBox {
    padding: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.text {
    padding: 0 20px;
}

.text h2 {
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(128, 128, 128, 0.59);
}

.text p {
    text-align: justify;
}

.newsBox:nth-child(2n) {
    flex-direction: row-reverse;
}

.boxItem img {
    width: 340px;
    height: 300px;
}

.content.product {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 50px;
    max-width: 1300px;
}

.boxItem {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 340px;
    margin: 50px 0 50px;

}

.boxItem img {
    background: linear-gradient(to bottom, white 60%, rgba(128, 128, 128, 0.08) 40%);
}

.addCart {
    background: url("img/cart.png");
    width: 30px;
    height: 30px;
    background-size: cover;
    border: 3px solid rgba(255, 154, 13, 0.69);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.6;
    cursor: pointer;
}

.addCart:hover {
    opacity: 1;
}

.description {
    position: absolute;
    bottom: 50%;
    left: 0;
}

.priseItem {
    color: #ff9b0e;
    font-size: 30px;
}

.nameItem {
    font-weight: 600;

}

.InfoItem {
    background: rgba(128, 128, 128, 0.53);
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    align-items: center;
}

footer {
    flex: 0 0 auto;
    background: rgba(0, 0, 0, 0.76);
    padding: 10px 50px;

}

.footer ul {
    list-style-type: none;
}

.footer ul li a {
    color: white;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
}

.footer ul li a:hover {
    text-decoration: underline;
}

.addNews {
    margin: 50px auto;
    max-width: 960px;
    padding: 0 20px;

}

.article {
    display: flex;
    flex-direction: column;
    position: relative;
}

.article input {
    height: 30px;
    border-radius: 3px;
    border: 1px solid rgba(128, 128, 128, 0.33);

}

.article label {
    margin: 10px 0;
}

.article textarea {
    height: 100px;
    border-radius: 3px;
    resize: none;
}

.article input, textarea {
    width: 100%;
    padding: 5px 10px;
    outline: none;
    margin: 10px 0;
}

.addNews input[type="submit"] {
    padding: 10px 15px;
    width: 100px;
    color: #ff9b0e;
    border-radius: 10px;
    background: rgba(22, 2, 5, 0.82);
    border: 2px solid rgba(22, 2, 5, 0.82);
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.5s linear;
}

.addNews #delNew {
    color: black;
    border: 2px solid #ff9b0e;
    background: transparent;
}

.addNews #delNew:hover {
    background: rgba(22, 2, 5, 0.82);
    border: 2px solid rgba(22, 2, 5, 0.82);
    color: #ff9b0e;
}

.addNews input[type="submit"]:hover {
    color: black;
    border: 2px solid #ff9b0e;
    background: transparent;
}

.error {
    color: #cc1406;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
}

.miniCart {
    margin: 50px 0;
    padding: 0 50px;
}

.cartList {
    list-style-type: none;
}

.cartList li {
    margin: 30px 0;
}

.itemImg img {
    width: 100px;
    height: 100px;
}

.cartContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.itemInfo {
    display: flex;
    flex-direction: column;
}

.itemInfo span {
    font-size: 15px;
    color: rgba(128, 128, 128, 0.59);
}

.itemName {
    font-weight: 600;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

.itemNumber {
    font-size: 0;
    border: 1px solid rgba(128, 128, 128, 0.43);
    padding: 10px;
    border-radius: 3px;
}

.itemRemove {
    color: #cc1406;
    text-decoration: none;
}

.itemNumber input {
    width: 30px;
    height: 30px;
    border: none;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
}

.itemNumber button {
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    font-size: 20px;
    color: rgba(128, 128, 128, 0.43);
    outline: none;
    cursor: pointer;

}

.itemNumber button:hover {
    color: black;
}

.price .value {
    font-weight: 600;
    font-size: 30px;

}

.imgNews img {
    width: 200px;
    height: 200px;
}

#addImages {
    width: 200px;
    height: 200px;
    background: gray;
}

@media (max-width: 1200px) {
    .logo {
        left: 20px;
    }
}

@media (max-width: 930px) {
    .mainMenu ul li a {
        margin: 0 20px;
        text-align: center;
    }
}

@media (max-width: 672px) {
    .mainMenu ul {
        display: none;
        flex-direction: column;
    }

    .burger {
        display: block;
    }
}

@media (max-width: 460px) {
    .boxItem {
        width: 100%;
    }

    .imgNews {
        display: block;
        margin: auto;
    }

    .text {
        width: 100%;
        text-align: center;
    }

    .imgNews img {
        width: 100%;
    }
}

@media (max-width: 430px) {
    .panelTop ul {
        padding: 0 9px;
    }

    .panelTop ul li a {
        margin: 0 10px;
    }
}