body, html {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1240px;
    margin: 0 auto;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    background-color: #383C42;
    padding: 5px 20px;
}

.menu__container__left {
    display: flex;
}

.menu__container__right {
    position: relative;
}

.menu__container__left__logo {
    display: block;
}

.menu__container__left__logo__img {
    width: 150px;
    height: 53px;
}

.menu__container__left__list {
    display: flex;
    list-style: none;
}

.menu__container__left__list__item {
    margin-right: 30px;
}

.menu__container__left__list__item__link:hover {
    color: #ffffff;
}

.menu__container__left__list__item__link {
    text-decoration: none;
    color: #cccccc;
    transition: all 0.2s ease-in-out;
    font-size: 18px;
}

.menu__container__right__shop-icon {
    line-height: 52px;
    font-size: 28px;
    color: #cccccc;
    transition: all 0.2s ease-in-out;
}

.menu__container__right__shop-icon:hover {
    color: #ffffff;
}

.active {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff;
}

.main {
    padding: 75px 0;
}

.main-block {
    display: flex;
    border: 1px solid #eeeeee;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 20px 0 #cccccc;
    margin-bottom: 25px;
}

.main-block__img {
    flex: 1;
}

.main-block__img__size {
    width: 300px;
    height: 300px;
}

.error {
    color: red;
}

.main-block__text-block {
    flex: 4;
}

.main-block__article {
    font-size: 64px;
    font-family: Arial, sans-serif;
}

.main-block__text {
    font-size: 16px;
    color: #2c2c2c;
    margin: 5px 0 0;
    position: relative;
}

.main-block__title {
    font-size: 26px;
    margin: 35px 0 0;
}

.main-block__update {
    background-color: #4469FE;
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
    width: 50px;
    border-radius: 3px;
    transition: all 0.2s ease-in-out;
    display: block;
    padding: 4px 10px;
    text-align: center;
    margin-top: 5px;
}

.main-block__update:hover {
    padding: 4px 5px 4px 15px;
}

.main-block_second {
    margin-top: 60px;
}

.create-article__title {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #cccccc;
    min-height: 30px;
    margin-top: 5px;
    font-size: 14px;
    color: #2c2c2c;
    padding: 0 15px;
    font-family: Arial, sans-serif;
}

.create-article__label {
    font-size: 18px;
    color: #2c2c2c;;
    font-family: Arial, sans-serif;
}

.create-article__text {
    width: 100%;
    border-radius: 5px;
    border: 1px solid #cccccc;
    margin-top: 5px;
    font-size: 14px;
    min-height: 75px;
    color: #2c2c2c;
    padding: 5px 15px;
    font-family: Arial, sans-serif;
}

.btn {
    border: none;
    font-family: Arial, sans-serif;
    font-size: 18px;
    background-color: lightblue;
    border-radius: 5px;
    padding: 10px 20px;
    margin-right: 10px;
}

.btn__create {
    background-color: forestgreen;
    transition: all 0.2s ease-in-out;
    color: #ffffff;
}

.btn__update {
    background-color: #4469FE;
    color: #ffffff;
    transition: all 0.2s ease-in-out;
}

.btn__create:hover {
    background-color: darkgreen;
    cursor: pointer;
}

.btn__update:hover {
    background-color: blue;
    cursor: pointer;
}

.goods__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;

}

.goods__item {
    width: 260px;
    height: 350px;
    border: 1px solid #cccccc;
    margin: 10px 0 20px;
    padding: 0 25px;
    background-color: #eeeeee;
    box-shadow: 0 0 20px 2px #cccccc;
    border-radius: 4px;
}

.goods__item__img {
    padding: 20px 0;
    max-width: 180px;
    text-align: center;
    margin: 0 auto;
    display: block;
}

.goods__item__link {
    margin: 0 auto;
    display: block;
    text-decoration: none;
    color: #2c2c2c;
}

.goods__item__description {
    line-height: 4px;
    font-size: 14px;
    font-family: Arial, sans-serif;
}

.goods__item__link-buy {
    padding: 10px 20px;
    background-color: #cccccc;
    font-family: Arial, sans-serif;
    border-radius: 5px;
    text-decoration: none;
    color: #2c2c2c;
    display: block;
    width: 50px;
    text-align: center;
    margin: 5px auto;
    transition: all 0.2s ease-in-out;
}

.goods__item__link-buy:hover {
    background-color: #383C42;
    color: #ffffff;
}

.absent-page__title {
    color: #2c2c2c;
    font-family: Arial, sans-serif;
    text-align: center;
}

.absent-page {
    margin-top: 50px;
}

.countGoods {
    display: block;
    padding: 2px 5px;
    color: #ffffff;
    background-color: red;
    position: absolute;
    bottom: 12px;
    right: -7px;
    border-radius: 50%;
    font-size: 10px;
}

.basket {
    font-size: 32px;
    text-align: center;
    color: #2c2c2c;
    max-width: 200px;
    margin: 25px auto;
}

.block-products {
    margin-top: 30px;
}

.title-admin {
    display: block;
    line-height: 70px;
    background-color: #2c2c2c;
    color: #c2c2c2;
    padding: 0 50px;
    margin: 0;
}

.table-products {
    border-collapse: collapse;
    width: 100%;
}

.table-products__row-th {
    height: 50px;
    background: #c2c2c2;
}

.table-products__row-th_cell {
    border: 1px solid #000000;
}

.table-products__cell {
    min-height: 30px;
    padding: 0 15px;
    border: 1px solid #000000;
}

.table-products__cell_btn {
    border: none;
    text-align: center;
    width: 6%;
}

.btn-adm {
    border-radius: 3px;
    display: block;
    width: 50px;
    text-decoration: none;
    color: #2c2c2c;
    padding: 5px;
    margin: 0 auto;
    transition: all 0.3s ease-in-out;
}

.btn-adm_delete {
    background-color: #DD5044;
    color: #ffffff;
    border: 1px solid #ffffff;
    transition: all 0.2s ease-in-out;
}

.btn-adm_delete:hover {
    background-color: inherit;
    border-color: #DD5044;
    color: #DD5044;
}

.btn-adm_edit {
    background-color: #FFCE42;
    border: 1px solid #ffffff;
    transition: all 0.2s ease-in-out;
}

.btn-adm_edit:hover {
    background-color: inherit;
    border: 1px solid #FFCE42;
    color: #FFCE42;
}

.products-create_btn {
    text-decoration: none;
    padding: 5px 10px;
    background-color: #18A15F;
    transition: all 0.2s ease-in-out;
    color: #ffffff;
    margin-top: 10px;
    max-width: 50px;
    display: block;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #ffffff;
}

.products-create_btn:hover {
    background-color: inherit;
    color: #18A15F;
    border: 1px solid #18A15F;
}

.products-create-tablet {
    margin-top: 50px;
    color: #2c2c2c;
}

.products-create-tablet__text {
    margin-bottom: 10px;
    display: block;
    font-size: 18px;
    color: #2c2c2c;
}

.back-admin {
    text-decoration: none;
    color: #ffffff;
    border: 1px solid #18A15F;
    border-radius: 4px;
    padding: 5px 10px;
    background-color: #18A15F;
}

.products-create__field {
    border-radius: 3px;
    border: 1px solid #cccccc;
    height: 20px;
    color: #2c2c2c;
}

.table-caption {
    color: #2c2c2c;
    margin-bottom: 5px;
    text-shadow: 1px 1px #cccccc;
}

.products-filter {
    text-align: left;
    color: #2c2c2c;
}

.input-distance {
    margin-right: 15px;
}

.link-to-shop {
    position: fixed;
    top: 25px;
    right: 30px;
}

.link-to-shop > a {
    display: block;
    color: #c2c2c2;
    text-decoration: none;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
}

.link-to-shop > a:hover {
    color: white;
}
